<% layout('/layouts/boilerplate') -%>
<body>
    <style>
        #YES{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button{
            background-color: #fe424d;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 15px;
        }
        button a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }

    </style>
    <h1>Are you Ready,for website exploration😃😃?</h1>
    <br>
    <br>
    <br>
    <div id="YES">

        <button><a href="/listings">YES 😄</a></button>
    </div>
    
</body>